Q.1- Download the house price dataset. 
https://raw.githubusercontent.com/Shreyas3108/house-price-prediction/master/kc_house_data.csv 
Do feature engineering and split the dataset 70-30. And train the model to 30% of the dataset on a linear regression model and compare accuracy.

In [27]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [28]:
df=pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/house-price-prediction/master/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [29]:
dataset=df.isnull().sum()
print(dataset)

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [30]:
df=df.drop(['id','date'],axis=1)
print(df.head())

      price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  \
0  221900.0         3       1.00         1180      5650     1.0           0
1  538000.0         3       2.25         2570      7242     2.0           0
2  180000.0         2       1.00          770     10000     1.0           0
3  604000.0         4       3.00         1960      5000     1.0           0
4  510000.0         3       2.00         1680      8080     1.0           0

   view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  \
0     0          3      7        1180              0      1955             0
1     0          3      7        2170            400      1951          1991
2     0          3      6         770              0      1933             0
3     0          5      7        1050            910      1965             0
4     0          3      8        1680              0      1987             0

   zipcode      lat     long  sqft_living15  sqft_lot15
0    98178  47.5112 -122.257           1340        5650
1    98125  47.7210 -122.319           1690        7639
2    98028  47.7379 -122.233           2720        8062
3    98136  47.5208 -122.393           1360        5000
4    98074  47.6168 -122.045           1800        7503

In [31]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, train_size = 0.7, test_size=0.3)
train_x = train.loc[:, train.columns != 'price']
test_x = test.loc[:, test.columns != 'price']

train_y = train['price']
test_y = test[ 'price']

In [32]:
from sklearn.linear_model import LinearRegression
model= LinearRegression()
model.fit(train_x , train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [33]:
test_pred = model.predict(test_x)
result = pd.DataFrame({'Actual_price':test_y,'predicted_price':test_pred})

In [34]:
print (result)

       Actual_price  predicted_price
7858       475000.0     6.872953e+05
15983      185000.0     1.671130e+05
7588       163000.0     1.616785e+05
18766      443000.0     4.973792e+05
3320       496000.0     5.234151e+05
7186       275500.0     8.780414e+04
20560      908990.0     9.130600e+05
3833       524000.0     4.918117e+05
1679       445000.0     5.879765e+05
16639      632000.0     1.025795e+06
824        431000.0     5.282180e+05
8064       417000.0     4.609040e+05
3723       463000.0     5.390551e+05
16602      455000.0     3.079827e+05
10668      541000.0     5.470447e+05
15389      757500.0     7.103883e+05
16673      448000.0     6.214876e+05
3141       485000.0     4.903838e+05
185       1095000.0     1.214584e+06
14769      550000.0     4.606361e+05
15897      379950.0     4.275317e+05
7815       745000.0     7.610763e+05
19287      316000.0     3.336658e+05
14390      415000.0     5.942680e+05
21308      580000.0     4.540984e+05
18596      645500.0     6.802332e+05
17195      735000.0     6.585498e+05
17324     1629000.0     9.671268e+05
14069      221000.0     1.218807e+05
20867      299000.0     2.732583e+05
...             ...              ...
19750      335000.0     2.973261e+05
11561      240000.0     4.294962e+04
9214       470000.0     5.189692e+05
13025      309950.0     3.294367e+05
11193      260000.0     3.230155e+05
18390      551000.0     6.119270e+05
16031      470000.0     5.988519e+05
10999      540000.0     5.802273e+05
13103      453000.0     4.481536e+05
10860      250000.0     2.434982e+05
12028      385000.0     4.516137e+05
4683       610000.0     4.941205e+05
16694     1049000.0     7.495439e+05
14881      285000.0     4.301045e+05
13039      402000.0     5.882003e+05
15777      699950.0     6.668150e+05
14278      769950.0     7.648788e+05
20436      675000.0     6.399569e+05
4538       195000.0     7.139823e+04
1347       735000.0     7.867391e+05
3419       375000.0     5.396074e+05
21079      294570.0     2.544263e+05
17728      475000.0     4.062839e+05
10918      442500.0     6.044451e+05
15743      700000.0     7.000438e+05
19435      333000.0     4.943892e+05
1049       716500.0     7.427682e+05
833        662500.0     5.910539e+05
6180       650000.0     5.558274e+05
14768      420000.0     2.707226e+05

[6484 rows x 2 columns]

In [25]:
from sklearn.metrics import r2_score
print(r2_score(test_y,test_pred)*100)

69.7368489535279